.rssContainer{
  border:1px solid #C3B87F;
  width : 45%;
  margin-bottom:20px;
  border-radius: 15px;
}

.floatLeft{
  float:left;
}


.floatRight{
  float:right;
}

.rssFeedsOuterContainer {
  float:left;
  width:95%;
}

.adOuterContainer {
 float:right;
  width:3%;
}

.clear {
 clear:both;
}

.rssFeedSetOfDay {
  margin-bottom :25px;
}

.channelTitle {
  background-color:#C3B87F;
  padding: 10px 10px 5px;
  border-radius: 15px 15px 0px 0px;
  border:1px solid #C3B87F;
  font-size: 16px;
  font-family: helvetica;
  font-weight: bold;
}

.feedItemOuter {
  margin : 5px 15px 10px 15px; 
}

.feedItemTitle {
  font-weight:bold;
  font-size:15px;
  font-family:'helvetica','verdana','ariel';
  margin-bottom: 2px;
  margin-top: 5px;
}

.feedItemDesc {
 text-align:justify;
 text-justify:inter-word;
 font-family:'helvetica','verdana','ariel';
 font-size:13px;
}